//Colors
$color-black-light: #30333c;
$color-black: #212121;
$color-primary: #2980b9;
$color-blue-light: #f6f8ff;
$color-grey: #97989f;
$color-grey-dark: #757575;
$color-grey-light: #d4d7e3;
$color-white: #ffffff;
$color-red: #fa5f55;

// Font size
$font-size-3xl: 40px;
$font-size-2xl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-base: 16px;
$font-size-xs: 14px;

// border radius
$border-radius: 6px;

// Font weight
$font-weight-extra: 800;
$font-weight-bold: 700;
$font-weight-semi: 600;
$font-weight-base: 400;

// Font family
$font-body: 'Roboto', sans-serif;

// Border radius
$border-radius: 6px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 1280px;

// Row, col
$columns: 12;
$gap: 20px;
$gap-mobile: 12px;
