@use '../base/' as *;

.card {
  position: relative;
  display: block;

  padding: 16px;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius;

  overflow: hidden;

  &:hover {
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  }

  &-img {
    padding-bottom: 10px;
    img {
      display: block;
      border-radius: $border-radius;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    padding: 4px;
  }

  &-tag {
    width: fit-content;
    margin-bottom: 4px;
    padding: 4px 10px;
    border-radius: 6px;

    background-color: $color-blue-light;

    color: $color-primary;
    font-size: $font-size-2xs;
    font-weight: $font-weight-semi;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 8px rgba($color-blue-light, 0.5);
      transform: scale(1.05);
    }
  }

  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: $color-black;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;

    transition: transform 0.2s ease;

    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $color-primary;
    }
  }
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-top: 10px;

  &-image {
    width: 17%;
  }

  &-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    max-width: 50%;
  }

  &-value {
    color: $color-grey;
    font-size: $font-size-xs;
    font-weight: $font-weight-base;

    &:hover {
      color: $color-black;
    }
  }
}
