@use '../base/' as *;

.card {
  position: relative;

  display: block;

  height: 100%;
  padding: $spacing-md;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius-md;

  overflow: hidden;
  transition: transform 0.3s ease;

  will-change: transform;
  &:hover {
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    transform: scale(1.05);
  }

  &-img {
    position: relative;

    padding-bottom: $spacing-sm-plus;

    aspect-ratio: 16 / 12;
    img {
      display: block;

      height: 100%;
      width: 100%;

      border-radius: $border-radius-md;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    padding: $spacing-xs;
  }

  &-tag {
    width: fit-content;
    margin-bottom: 4px;
    padding: $spacing-xs $spacing-sm-plus;
    border-radius: $border-radius-md;

    background-color: $color-blue-light;

    color: $color-primary;
    font-size: $font-size-2xs;
    font-weight: $font-weight-semi;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 8px rgba($color-blue-light, 0.5);
      transform: scale(1.05);
    }
  }

  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    min-height: calc(1.4em * 2);

    color: $color-black;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    line-height: 1.4;

    transition: transform 0.2s ease;

    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $color-primary;
    }

    &.single-line {
      padding-bottom: $spacing-lg-plus;
    }
  }

  &-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    color: $color-grey-dark;
    font-size: $font-size-xs;
    line-height: 1.5;
    margin-top: $spacing-xs;
  }

  &-action {
    position: absolute;
    top: 8px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    .action {
      padding: $spacing-sm;

      border-radius: $border-radius-circle;
      border: none;

      background-color: rgba(255, 255, 255, 0.7);

      transition: transform 0.3s ease;

      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }

    img {
      width: 20px;
      height: auto;
    }
  }
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-top: $spacing-sm-plus;

  &-image {
    max-width: 24px;
    height: 24px;

    border-radius: $border-radius-circle;

    object-fit: cover;
  }

  &-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  &-value {
    max-width: 120px;

    color: $color-grey;
    font-size: $font-size-xs;
    font-weight: $font-weight-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $color-black;
    }
  }
}
