@use '../base/' as *;

.form {
  width: 40%;
  padding: $spacing-xl;

  &.form-auth {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &-title {
    font-size: $font-size-xl;
    text-align: center;
  }

  &-control {
    position: relative;
    flex: 1;

    min-width: 0;

    .form-icon {
      max-width: 24px;
      height: auto;
      cursor: pointer;
    }

    .form-label {
      position: absolute;
      top: 50%;
      left: 10px;

      font-size: 16px;
      color: $color-grey-dark;

      pointer-events: none;
      transition: all 0.3s ease;
      transform: translateY(-50%);

      &.focused {
        top: 5px;

        font-size: 12px;
        color: $color-primary;
      }
    }

    .error-message {
      position: absolute;
      top: 100%;
      left: 8px;

      min-height: 20px;

      font-size: $font-size-xs;
      color: $color-danger;

      transition: opacity 0.3s ease;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }
  }

  &-link {
    text-align: center;
    span {
      color: $color-primary;
    }
  }
  @media screen and (max-width: $sm) {
    width: 90%;

    &-control {
      flex-direction: row;
    }
  }

  &-login {
    .form-link {
      padding-top: $spacing-md;
    }
  }
}
