@use '../base/' as *;

.form {
  width: 50%;
  padding: $spacing-xl;

  &.form-xl {
    width: 100%;
    padding: inherit;
  }

  &-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    height: auto;
    padding-bottom: $spacing-md-plus;

    input {
      display: none;
    }
    .form-preview {
      margin-bottom: $spacing-sm-plus;
    }
  }

  &-dashed {
    height: 400px;
    padding: 10px;
    border: 2px dashed $color-primary;
    overflow-y: scroll;
    overflow-x: scroll;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-dashed-circle {
    width: 150px;
    height: 150px;
    padding: $spacing-sm;
    border: 2px dashed $color-primary;
    border-radius: 50%;

    overflow: hidden;
    img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.form-auth {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &-title {
    font-size: $font-size-2xl;
    text-align: center;
  }

  &-control {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm-plus;
    flex: 1;

    min-width: 0;

    .form-icon {
      max-width: 24px;
      height: auto;
      cursor: pointer;
    }

    .form-label {
      font-size: $font-size-base;
      color: $color-grey-dark;
    }

    .error-message {
      position: absolute;
      top: 100%;
      left: 8px;

      min-height: 20px;

      font-size: $font-size-xs;
      color: $color-danger;

      transition: opacity 0.3s ease;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }
    @media screen and (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  &-link {
    text-align: center;
    span {
      color: $color-primary;
    }
  }
  @media screen and (max-width: $sm) {
    width: 90%;
  }

  &-login {
    .form-link {
      padding-top: $spacing-md;
    }
  }
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacing-md-plus;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &.form-post {
    .form-control {
      .input-group {
        .txt-bold {
          color: $color-black;
          font-size: $font-size-lg;
        }
      }
    }
  }

  &.form-user {
    width: 100%;
    .form-action {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
    }
    .form-upload {
      align-items: center;
    }
    .form-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 100px;
      .form-field-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;

        @media screen and (max-width: $md) {
          width: 100%;
          gap: 15px;
        }
      }
      @media screen and (max-width: $md) {
        flex-direction: column;
        gap: 50px;
      }
      @media screen and (max-width: $sm) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
