@use '../base/' as *;

.form {
  width: 40%;
  padding: 20px;

  border-radius: $border-radius;
  border: 1px solid $color-grey-light;

  box-shadow: 0px 5px 20px 0px rgba($color-black, 0.3);

  &-title {
    padding-bottom: 40px;

    text-align: center;
  }

  &-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    padding-bottom: 20px;

    .input-container {
      flex: 1;
    }
  }

  &-link {
    padding-bottom: 20px;
    span {
      color: $color-primary;
    }
  }
  @media screen and (max-width: $md) {
    width: 90%;

    &-control {
      flex-direction: column;
    }
  }
}
