@use '../base/' as *;

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  padding: $spacing-sm $spacing-md;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius-md;

  &:focus-within {
    border-color: $color-primary;
  }
  &:has(input:focus) {
    border-color: $color-primary;
  }

  &:has(+ .error-message.visible) {
    border-color: $color-danger;
  }

  &:has(select)::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color-grey-dark;
  }

  input,
  select,
  input[type='date'] {
    flex: 1;

    padding: $spacing-none;

    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    background: transparent;

    font-size: $font-size-base;
    color: $color-grey-dark;
    font-family: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type='date']::-webkit-datetime-edit {
    color: $color-grey-dark;
  }

  select {
    appearance: none;
    cursor: pointer;
    padding-right: $spacing-lg;
    background: transparent;

    option {
      color: $color-grey-dark;
    }
  }
}
