@use '../base/' as *;

.list {
  &-legal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    .item {
      color: $color-black-light;
      font-size: $font-size-xs;
      font-weight: $font-weight-base;

      &:hover {
        color: $color-grey;
      }
    }
  }

  &-posts {
    padding-bottom: 56px;
  }
  &-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: $md) {
      gap: 20px;
    }

    .list-item {
      padding: 9px 16px;
      border-radius: $border-radius;

      box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.08);

      transition: transform 0.3s ease, color 0.3s ease;

      cursor: pointer;
      &:hover {
        color: $color-primary;
        transform: scale(1.05);
      }
    }
  }

  &-paginations {
    display: flex;
    align-items: center;
    gap: 12px;
    .list-item {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 20px;
        cursor: pointer;
        color: $color-black;
        font-weight: $font-size-base;
      }

      &:hover {
        background-color: $color-primary;
        a {
          color: $color-white;
        }
      }
    }
    .list-active {
      background-color: $color-primary;
      a {
        color: $color-white;
      }
    }

    .list-dots {
      cursor: default;

      a {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
