@use '../base/' as *;

.section {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $spacing-3xl $spacing-none;

    color: $color-black;

    @media screen and (max-width: $md) {
      padding: $spacing-xl $spacing-none;
    }
  }

  &-title {
    font-weight: $font-weight-semi;
    font-size: $font-size-2xl;

    @media screen and (max-width: $md) {
      font-size: $font-size-xl;
    }
  }

  &-subtitle {
    font-weight: $font-weight-base;
    font-size: $font-size-md;
    text-align: center;

    @media screen and (max-width: $md) {
      font-size: $font-size-base;
    }
  }

  &-action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
