@use '../base/' as *;

.tag {
  &-title {
    color: $color-black;
    font-size: $font-size-md;
    font-weight: $font-weight-semi;

    &:hover {
      color: $color-primary;
    }
    @media screen and (max-width: $md) {
      font-size: $font-size-base;
    }
  }
}
