@use '../base/' as *;

//container
.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  padding: $spacing-none $spacing-md;
}

.wrapper {
  &.wrapper-padding {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: $spacing-none $spacing-md;

    @media screen and (max-width: $md) {
      padding: 0;
    }
  }

  &.wrapper-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// Row, col
.row {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  @media (max-width: $md) {
    gap: $gap-mobile;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc((100% - (12 / $i - 1) * $gap-mobile) / (12 / $i));
  }
}

// Breakpoints
@media screen and (min-width: $sm) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: calc((100% - (12 / $i - 1) * $gap) / (12 / $i));
    }
  }
}

@media screen and (min-width: $md) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: calc((100% - (12 / $i - 1) * $gap) / (12 / $i));
    }
  }
}
