@use '../base/' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: $color-white;

  transition: transform 0.3s ease;

  &.header-hidden {
    transform: translateY((-100%));
  }
  .logo {
    img {
      width: 50%;
      height: auto;
    }
  }

  .header-action {
    .dropdown {
      position: relative;
      &-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;

        cursor: pointer;
      }

      &-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 9999;

        width: max-content;
        margin-top: $spacing-sm-plus;
        padding: $spacing-sm-plus;
        border-radius: $border-radius-md;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        background-color: $color-white;

        @media screen and (max-width: $md) {
          left: -22px;
        }
      }
    }
  }
}
