@use '../base/' as *;

.page-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: $spacing-md-plus $spacing-none;

  .page-title {
    font-size: $font-size-xl;
  }
}
