@use 'sass:map';
@use '../base/' as *;

main {
  min-height: calc(100vh - 98px - 79px);
}
.pages-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-top: calc(85px + 10px);
}

.avatar-icon {
  width: 24px;
  height: 24px;

  border-radius: $border-radius-circle;

  object-fit: cover;
}

.logo {
  img {
    width: 50%;
    height: auto;
  }
}
