@use '../base/' as *;

.page-post-detail {
  .article {
    &-header {
      padding: $spacing-lg-plus $spacing-none;
    }
    .list-tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .list-item {
        width: fit-content;
        margin-bottom: 4px;
        padding: $spacing-sm $spacing-md-plus;
        border-radius: $border-radius-md;

        background-color: $color-blue-light;

        color: $color-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-semi;

        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
          box-shadow: 0 4px 8px rgba($color-blue-light, 0.5);
          transform: scale(1.05);
        }

        @media screen and (max-width: $sm) {
          padding: $spacing-xs $spacing-sm-plus;

          font-size: $font-size-2xs;
          font-weight: $font-weight-semi;
        }
      }
    }
    &-title {
      padding-bottom: $spacing-sm-plus;

      font-size: $font-size-4xl;
      @media screen and (max-width: $md) {
        font-size: $font-size-3xl;
      }
      @media screen and (max-width: $sm) {
        font-size: $font-size-2xl;
      }
    }

    &-subtitle {
      padding-bottom: $spacing-sm-plus;

      text-align: initial;
      color: $color-black;
      font-weight: $font-weight-base;

      @media screen and (max-width: $sm) {
        font-size: $font-size-xs;
      }
    }

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-meta {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 20px;

      .meta-title {
        min-width: fit-content;

        color: $color-grey;
        font-size: $font-size-xs;
        font-weight: $font-weight-semi;

        @media screen and (max-width: $sm) {
          font-size: $font-size-2xs;
        }
      }
      .meta-group {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        gap: 10px;

        .meta-img {
          max-width: 24px;
          height: auto;

          border-radius: $border-radius-circle;
        }
      }
    }
    &-body {
      padding: $spacing-lg-plus $spacing-none;
    }
    &-content {
      padding: $spacing-lg-plus $spacing-none;
      h1,
      h2,
      h3 {
        margin-top: $spacing-xl;
        margin-bottom: $spacing-md;

        color: $color-black-light;
      }
      p {
        margin-bottom: $spacing-lg;

        text-align: justify;
      }

      p strong {
        margin: 0;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-md;

        background-color: $color-blue-light;

        font-weight: $font-weight-bold;
        color: $color-blue-dark;
      }
      blockquote {
        position: relative;

        padding: $spacing-md $spacing-lg;
        margin: $spacing-lg $spacing-none;

        border-left: $border-radius-md solid $color-primary;
        background-color: $color-blue-light;

        font-style: italic;
        color: $color-grey-dark;
      }
      blockquote::before {
        position: absolute;
        top: -15px;
        left: 10px;

        content: '“';
        font-size: $spacing-3xl;
        color: $color-primary;
      }

      blockquote p {
        margin: $spacing-none;
      }
    }

    &-action {
      display: flex;
      flex-direction: row;
      gap: 6px;

      .action {
        display: flex;
        align-items: center;

        padding: $spacing-sm;

        border-radius: $border-radius-circle;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.1);

        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        transition: transform 0.3s ease;

        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }

      img {
        width: 20px;
        height: auto;
      }
    }
  }
}
